<!DOCTYPE html>
{% load staticfiles %}
<html>
   <head>
        <title>harston.io | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link rel="icon" type="image/ico" href="/static/images/favicon.ico">
        <link rel="apple-touch-icon" type="image/png" href="/static/images/512ico.png" sizes="96x96">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    </head>

<body>

<section class="section">
    <nav class="navbar">
        <a class="navbar-brand" href="/">
            <strong>harston.</strong>
        </a>
        <button class="" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
            <ul class="">

                <li class="navbar-item"><a href="/about"><i class="far fa-user-circle" style="color:white"></i>About</a></li>

                <li class="navbar-item"><a class="nav-link" href="/posts">Posts</a></li>

                <li class="navbar-item"><a class="nav-link" href="/projects">Projects</a></li>

                <li class="navbar-item"><a class="nav-link" href="/research">Research</a></li>

                <li class="navbar-item"><a class="nav-link" href="/designs">Designs</a></li>

                <li class="navbar-item"><a class="nav-link" href = "/cv">CV</a></li>
            </ul>

            <ul class="navbar">
                <li class="navbar-item">
                    <a class="nav-link" href="https://twitter.com/alexharston" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>
            
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            {% endif %}
    </nav>
</section>

<section>
{%block content%} 
{% endblock %}
</section>

</body>
</html>
