{% extends 'blog/base.html' %}

{% block title %}
Projects
{% endblock %}

{% block content %}
<h1>Projects</h1>
<div class="container">
    <div class="card-deck">

        <a href="https://github.com/alexharston/PubBrawl" target="_blank">
            <div class="card mb-4">
                <div class="card-body">

                    <h2 class="card-title">PubBrawl</h2>

                    <p class="card-text">
                    PubBrawl is a probabilistic pub crawl generator for London,
                    planning the optimal route based off London crime data,
                    distance, pub quality and more.
                    </p>

                </div>
            </div>
        </a>

        <a href="https://github.com/alexharston/harstondotio" target="_blank">
            <div class="card mb-4">
                <div class="card-body">

                    <h2 class="card-title">harston.io</h2>

                    <p class="card-text">
                    The source code for this site (under constant development)</p>
                    </p>
                </div>
            </div>
        </a>

        <a href="https://github.com/alexharston/harstondotio" target="_blank">
            <div class="card mb-4">
                <div class="card-body">

                    <h2 class="card-title">Locomouseion</h2>

                    <p class="card-text">
                    A program utilising OpenCV to enable manual tagging of mouse locomotion.
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}
