{% extends 'blog/base.html' %} 

{% block content %}
<div class="container-fluid text-center">
    <h1>
        Projects
    </h1>
    <div class="row">
        <div class="col-lg-6">
            <h2><a href="https://github.com/alexharston/PubBrawl" target="_blank">PubBrawl</a></h2>
            <p>PubBrawl is a probabilistic pub crawl generator for London, planning the optimal route based off London crime data, distance, pub quality and more.</p>
        </div>
        <div class="col-lg-6">
            <h2>
                <a href="https://github.com/alexharston/harstondotio" target="_blank">harston.io</a>
            </h2>
            <p>The source code for this site (under constant development)</p>
        </div>
    </div>
</div>
{% endblock %}