{% extends 'blog/base.html' %} 

{% block content %}
<div class="container-fluid text-center">
    <br>
    <br>
    <h1>Research</h1>
    <br>
        <ul>
            <h3>
                <a href="https://arxiv.org/abs/1803.05419" target="_blank">Generalised Structural CNNs (SCNNs) for time series data with arbitrary graph topology</a>
            </h3>
            <p> T Teh, C Auepanwiriyakul, <strong>JA Harston</strong> & AA Faisal (2018)</p>
        </ul>
        <ul>
            <h3>
                <a href="">Semantic Fovea: Real-time annotation of ego-centric videos with gaze context</a>
            </h3>
            <p>C Auepanwiriyakul, <strong>JA Harston</strong>, P Orlov, A Shafti & AA Faisal (2018)</p>
        </ul>
</div>
{% endblock %}