body {
    font-family: $font;
    background-color: $back-gray;
    text-size-adjust: 100%;
    --webkit-text-size-adjust: 100%;
    font-size: 10px;
    color: $black;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
    margin-top: $nav-height * 1.5;
    padding-bottom: 50px;
}

img {
    display: block;
}

a {
  text-decoration: none;
  color: #6d6d91;
  cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin: 110px 0 20px 0;
}

h2, h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 5px 0;
}

h3 {
    font-size: 14px;
    margin: 10px 0 5px 0;
}

p {
    line-height: 1.8;
    margin-bottom: 10px;
    color: #6d6d91;
    font-size: 16px;
}

h1, h2, h3, h4 {
    // font-weight: bold;
}

h1, h2, h3, h4, nav {
    font-family: $logo-font;
}

@mixin core--400() {
    body {
        font-size: 12px;
    }

    h2, h3 {
        font-size: 16px;
        margin: 15px 0 10px 0;
    }

    h3 {
        font-size: 14px;
    }
}

@mixin core--500() {
    body {
        font-size: 14px;
    }
    
}

@mixin core--600() {
    main {
        padding: 0 20px;
        padding-bottom: 50px;
    }
    
}

@mixin core--700() {
    h1 {
        font-size: 32px;
    }
    
    h2, h3 {
        font-size: 22px;
        margin: 20px 0 10px 0;
    }

    h3 {
        font-size: 16px;
    }

    p {
        line-height: 2;
    }

    main {
        padding: 0 40px;
        padding-bottom: 50px;
    }
    
}

@mixin core--800() {
    
}

@mixin core--900() {
    h1 {
        font-size: 36px;
        margin: 100px 0 30px 0;
    }

    h2, h3 {
        font-size: 24px;
        margin: 28px 0 5px 0;
    }

    h3 {
        font-size: 20px;
    }

    main {
        padding: 0 50px;
        padding-bottom: 50px;
    }

    p {
        line-height: 2.2;
    }
    
}

@mixin core--1000() {
    
}

@mixin core--1100() {
    
}

@mixin core--1200() {
    
}
