html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}


a, p, b, h1, h2, h3, h4, h5 {
    padding: none;
    margin: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

h1 {
    text-decoration: none;
    color: black; 
    a:visited {
    text-decoration: none;
    }
}

h2 {
    font-weight: 400;
}

.logo-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.main-box {
    display: flex;
    justify-content: center;
    align-items: start;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 40px;
    
    .intro {
        // max-width: 700px;
        line-height: 1.7;
        // word-spacing: 10%;
        h2 {
            font-size: 18px;
            color: #5c516b;
            font-weight: 400;
            a {
            font-weight: 500;
            }
            a:hover {
                font-weight: 600;
            }
        }
    }   
}

@mixin home--400() {
  .logo-container {
      justify-content: start;
  }  
}

@mixin home--500() {
}

@mixin home--600() {
    
}

@mixin home--700() {
    
}

@mixin home--800() {
    
}

@mixin home--900() {
}

@mixin home--1000() {
    .main-box {
        display: flex;
        justify-content: start;
        align-items: start;

    }
    .main-container {
        display: grid;
        grid-template-columns: 300px 700px;
    
        nav {
            flex-direction: column;
            margin-top: 20px;
        }
    } 
}

@mixin home--1100() {
    
}

@mixin home--1200() {
    
}