nav {
    a:active{
        font-weight: 600;
    }
}
nav:first-child {
    padding-left: 0;
}

@mixin nav--400() {
}

@mixin nav--500() {
    
}

@mixin nav--600() {
    
}

@mixin nav--700() {
    
}

@mixin nav--800() {
    
}

@mixin nav--900() {
}

@mixin nav--1000() {
    
}

@mixin nav--1100() {
    
}

@mixin nav--1200() {
    
}