.project-item {
    margin: 20px 0 50px 0;
    h2 {
        font-size: 20px;
        font-weight: 400;
    }
    p {
        font-size: 16px;
    }
}
@mixin projects--400() {
     
 }
 
 @mixin projects--500() {
     
 }
 
 @mixin projects--600() {
     
 }
 
 @mixin projects--700() {
     
 }
 
 @mixin projects--800() {
     
 }
 
 @mixin projects--900() {
 }
 
 @mixin projects--1000() {
     
 }
 
 @mixin projects--1100() {
     
 }
 
 @mixin projects--1200() {
     
 }