.heading {
    font-size: 20px;
}
.title {
    font-weight: 400;
}
.publication {
    margin: 20px 0 40px 0;
    h2 {
        // font-weight: 400;
        font-size: 20px;
    }
    label {
        font-size: 14px;
        font-weight: 500;
    }
    .journal {
        font-size: 14px;
        margin: 0 0 0 10px;
    }
    .authors {
        font-size: 16px;
    }
    .publication-info {
        display: flex;
        flex-direction: column;
        align-items: start;
        label, p{
            font-weight: 600;
            margin-left: 0;
        }
    }
}

@mixin research--400() {

 }
 
 @mixin research--500() {
     
 }
 
 @mixin research--600() {
     
 }
 
 @mixin research--700() {
    .publication {
        .publication-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            label, p{
                font-weight: 600;
            }
            p {
                margin-left: 8px;
            }
        }
    }     
 }
 
 @mixin research--800() {
     
 }
 
 @mixin research--900() {
 }
 
 @mixin research--1000() {
     
 }
 
 @mixin research--1100() {
     
 }
 
 @mixin research--1200() {
     
 }