h2{
    font-size: 20px;
}

.publication {
    margin: 20px 0;
    h2 {
        font-weight: 400;
    }
    label {
        font-size: 12px;
        font-weight: 600;
    }
    .journal {
        font-size: 14px;
        margin: 0 0 0 10px;
    }
    .authors {
        font-size: 14px;
    }
    .publication-info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@mixin research--400() {

 }
 
 @mixin research--500() {
     
 }
 
 @mixin research--600() {
     
 }
 
 @mixin research--700() {
     
 }
 
 @mixin research--800() {
     
 }
 
 @mixin research--900() {
 }
 
 @mixin research--1000() {
     
 }
 
 @mixin research--1100() {
     
 }
 
 @mixin research--1200() {
     
 }