h2, h3 {
    // font-weight: 500;
    // font-size: 20px;
    // color: #6d6d91;
}

.heading {
    color: #6f32be;
}
.use {
    margin: 30px 0 50px 0;
    h3 {
        color: #6d6d91;
        font-weight: 400;
    }
    p {
        font-size: 16px;
        color: #6d6d91;
    }
}
@mixin uses--400() {
 }
 
 @mixin uses--500() {
     
 }
 
 @mixin uses--600() {
     
 }
 
 @mixin uses--700() {
     
 }
 
 @mixin uses--800() {
     
 }
 
 @mixin uses--900() {
 }
 
 @mixin uses--1000() {
     
 }
 
 @mixin uses--1100() {
     
 }
 
 @mixin uses--1200() {
     
 }