.posts, .books {
    margin-top: 20px;
    .heading {
        color: #6f32be;
        text-align: left;
        margin-bottom: 20px;
        // font-weight: 500;
        // font-size: 18px;
    }
}


.post, .book {
    margin: 0 0 70px 0;
    h2 {
        font-size: 20px;
        font-weight: 400;
        margin: 2px 0 5px -1px;
        color: #6d6d91;
    }
    p {
        font-size: 16px;
        line-height: 2;
        color: #6d6d91;
    }
    label {
        color: #9b9b9b;
        font-size: 14px;
    }
    .titleandauthor{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}


.post:last-child, .book:last-child {
    // margin-bottom: 80px;
}

h1.title {
    color: #6d6d91;
    margin: 20px 0 5px 0;
    text-align: left;
}

.full-content {
    margin-top: 10px;
    color: #6d6d91;
    line-height: 2;
    font-size: 16px;
}

@mixin writing--400() {
}

@mixin writing--500() {
    
}

@mixin writing--600() {
    
}

@mixin writing--700() {
    
}

@mixin writing--800() {
    .post, .book {
        .titleandauthor{
            margin: 0 0 0 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: start;

            h2 {
                padding-right: 10px;
            }
        }
    }
}

@mixin writing--900() {
}

@mixin writing--1000() {
    
}
 
 @mixin writing--1100() {
     
 }
 
 @mixin writing--1200() {
     
 }