.posts, .books {
    margin-top: 20px;
    .heading {
        color: #6f32be;
        text-align: left;
        font-weight: 500;
        font-size: 18px;
    }
}


.post, .book {
    margin-bottom: 35px;
    h2 {
        font-size: 18px;
        margin-top: 2px;
        color: #5c516b;
    }
    p {
        font-size: 14px;
    }
    label {
        color: #9b9b9b;
        font-size: 12px;
    }
}

.post:last-child, .book:last-child {
    margin-bottom: 80px;
}
@mixin writing--400() {
 }
 
 @mixin writing--500() {
     
 }
 
 @mixin writing--600() {
     
 }
 
 @mixin writing--700() {
     
 }
 
 @mixin writing--800() {
     
 }
 
 @mixin writing--900() {
 }
 
 @mixin writing--1000() {
     
 }
 
 @mixin writing--1100() {
     
 }
 
 @mixin writing--1200() {
     
 }