.post {
    margin: 20px 0;
    h2 {
        font-size: 22px;
        margin-top: 2px;
    }
    p {
        font-size: 16px;
        color: #555555;
    }
    label {
        color: #9b9b9b;
    }
}

@mixin writing--400() {
 }
 
 @mixin writing--500() {
     
 }
 
 @mixin writing--600() {
     
 }
 
 @mixin writing--700() {
     
 }
 
 @mixin writing--800() {
     
 }
 
 @mixin writing--900() {
 }
 
 @mixin writing--1000() {
     
 }
 
 @mixin writing--1100() {
     
 }
 
 @mixin writing--1200() {
     
 }