* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
    background-image: none;
    list-style: inherit;
    list-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

$nav-height: 60px;

$logo-font: 'Inter', 'serif';
$font: 'Inter', 'sans-serif';
$landing-font: 'Inter', 'sans-serif';

$black: #222;
$nav-back: #565656;
$back-gray: #F6F6F6;
$gray: #ddd;


@import "core";
@import "nav";
@import "home";
@import "writing";
@import "research";
@import "projects";
@import "uses";
@import "downloads";

@media (min-width: 400px) {
    @include core--400();
    @include nav--400();
    @include home--400();
    @include research--400();
    @include writing--400();
    @include projects--400();
    @include uses--400();
    @include downloads--400();
}

@media (min-width: 500px) {
    @include core--500();
    @include nav--500();
    @include home--500();
    @include research--500();
    @include writing--500();
    @include projects--500();
    @include uses--500();
    @include downloads--500();
}

@media (min-width: 600px) {
    @include core--600();
    @include nav--600();
    @include home--600();
    @include research--600();
    @include writing--600();
    @include projects--600();
    @include uses--600();
    @include downloads--600();
}

@media (min-width: 700px) {
    @include core--700();
    @include nav--700();
    @include home--700();
    @include research--700();
    @include writing--700();
    @include projects--700();
    @include uses--700();
    @include downloads--700();
}

@media (min-width: 800px) {
    @include core--800();
    @include nav--800();
    @include home--800();
    @include research--800();
    @include writing--800();
    @include projects--800();
    @include uses--800();
    @include downloads--800();
}

@media (min-width: 900px) {
    @include core--900();
    @include nav--900();
    @include home--900();
    @include research--900();
    @include writing--900();
    @include projects--900();
    @include uses--900();
    @include downloads--900();
}

@media (min-width: 1000px) {
    @include core--1000();
    @include nav--1000();
    @include home--1000();
    @include research--1000();
    @include writing--1000();
    @include projects--1000();
    @include uses--1000();
    @include downloads--1000();
}

@media (min-width: 1100px) {
    @include core--1100();
    @include nav--1100();
    @include home--1100();
    @include research--1100();
    @include writing--1100();
    @include projects--1100();
    @include uses--1100();
    @include downloads--1100();
}

@media (min-width: 1200px) {
    @include core--1200();
    @include nav--1200();
    @include home--1200();
    @include research--1200();
    @include writing--1200();
    @include projects--1200();
    @include uses--1200();
    @include downloads--1200();
}