<!DOCTYPE html>
{% load sass_tags %}

<html>
   <head>
        <meta charset="utf-8">
        <meta name="author" content="Alex Harston">
        <meta name="description" content="Alex Harston | PhD student and web developer">
        <title>Alex Harston | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link rel="icon" type="image/ico" href="/static/images/favicon.ico">
        <link rel="apple-touch-icon" type="image/png" href="/static/images/512ico.png" sizes="96x96">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="{% sass_src 'sass/main.scss' %}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154882724-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-154882724-1');
        </script>
    </head>
    <body>
        <div class="logo-wrapper">
            <div class="logo-container">
                <a href="/">
                    <img class="logo" src="/static/images/logo.svg"> 
                </a>
                <div class="socials">
                    <a href="https://twitter.com/alexharston">
                        <img src="/static/images/twitter.svg" alt="">
                    </a>
                    <a href="https://github.com/alexharston">
                        <img src="/static/images/github.svg" alt="">
                    </a>
                    <a href="mailto:alex@harston.io">
                        <img src="/static/images/email.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="main-box">
            <div class="main-container">
                {% include "nav.html" %}
                <div class="main">
                    {% block main %}
                    {% endblock %}
                </div>        
            </div>
        </div>

        {% include "footer.html" %}

        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>
