{% extends 'base.html'%}


{% block title %}
    Downloads
{% endblock%}

{% block main %}
    <div class="downloads">
        <div class="files">
            {% for file in files %}
                <div class="file">
                    <a href="/downloads/{{file.slug}}"><h2>{{file.title}}</h2></a>
                    <p>{{file.description}}</p>
                    <a href="{{file.uploadedfile.url}}" download="{{file.uploadedfile.url}}"><b>Download</b></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock%}
