{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}




<div class="links">
    <a href="/"><h1 class="title"><strong>harston.</strong></h1></a> 
    <h3 class="subtitle">PhD Student at Imperial. I work on machine learning and neuroscience.</h3>

    
    <div class="nav-container">
        <a href="" class="nav-item">
            <div>
                <img src="/static/images/about.svg" alt="">
                <h3>About</h3>
            </div>
        </a>
    
        <a class ="nav-item" href="">
            <div>
                <img src="/static/images/projects.svg" alt="">
                <h3>Projects</h3>
            </div>
        </a>
        
        <a href="" class ="nav-item">
            <div>
                <img src="/static/images/research.svg" alt="">
                <h3>Research</h3>
            </div>
        </a>

    </div>
</div>

{% endblock %}
