{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

    {% include "post-snippet.html" %}

    {% if projects %}
        {% for project in  projects %}
            {% include "project-snippet.html" %}
        {% endfor %}
    {% else %}
        <p class="content">No projects yet!</p>
    {% endif %}

    {% if papers %}
        {% include "research-snippet.html" %}
    {% else %}
        <p class="content">No research yet!</p>
    {% endif %}

    {% if designs %}
        {% include "designs-snippet.html" %}
    {% else %}
        <p class="content">No designs yet!</p>
    {% endif %}
   

{% endblock %}
