{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

<section class="intro">
    <h2>Hey, I'm Alex. I’m a <a href="https://faisallab.org/members/alex-harston" style="color:red"> PhD Student</a> in machine learning and neuroscience at Imperial. I’m also a <a href="/projects" style="color:blue">web developer </a> and <a href="/projects" style="color:green">designer</a>, and run a <a href="https://goodwright.org" style="color:#fbb329">small startup </a> with one of my friends.</h2>
    <h2>My main academic interest is in developing brain-computer interfaces. I spend most of my time thinking about the link between brain and behaviour, and building data-driven behavioural prediction models.</h2>
    <h2>This interest carries over to the web, where I work on user interface design, and building beautiful, easy-to-use software.</h2>
</section>

{% endblock %}
