<div class="research-container">
    <h2>Papers</h2>
    {% for paper in papers %}
        <div class="research-item">
            <h3 class=""> {{ paper.year }} </h3>
            <h3 class=""> <a href="{{ paper.link }}"> {{ paper.title }} </a> </h3>
            <h3 class="">{{ paper.authorlist }} </h3>
            <h3 class="">{{ paper.journal }}</h3>
        </div> 
    {% endfor %}
    <h2>Posters</h2>
    {% for poster in posters %}
        <div class="research-item">
            <h3 class=""> {{ poster.year }} </h3>
            <h3 class=""> <a href="{{ poster.link }}"> {{ poster.title }} </a> </h3>
        </div> 
    {% endfor %}
</div>
