{% extends "base.html" %}

{% block title %}
Research
{% endblock %}

{% block main %}
<div>
    {%if papers %}
    <h2 class="heading">Papers</h2>
        {% for paper in papers %}
            <a href="{{paper.link}}">
                <div class="publication">
                    <h2 class="title">{{ paper.title }}</h2>
                    <div class="publication-info">
                        <label>{{paper.year}}</label>
                        <p class="journal">{{ paper.journal }}</p>
                    </div>
                        <p class="authors">{{ paper.authorlist }}</p>
                </div> 
            </a>    
        {% endfor %}
    {% endif %}
    {% if posters %}
        <h2 class="heading">Posters</h2>
        {% for poster in posters %}
            <div class="publication">
                <h2 class="title"> <a href="{{ poster.link }}"> {{ poster.title }} </a> </h2>
                <label>{{poster.published_year}}</label>
            </div> 
        {% endfor %}
    {% endif %}
</div>
{% endblock %}