{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block main %}
<div data-aos="fade-in" class="research-container">
    <h2>Papers</h2>
    {% for paper in papers %}
        <a href="{{paper.link}}">
            <div class="research-item">
                <p class="title">{{ paper.title }}</p>
                <p class="authors">{{ paper.authorlist }}</p>
                <p class="journal">{{ paper.journal }} <b>{{paper.year}}</b></p>
            </div> 
        </a>    
    {% endfor %}
    <h2>Posters</h2>
    {% for poster in posters %}
        <div class="research-item">
            <p class="title"> <a href="{{ poster.link }}"> {{ poster.title }} </a> </p>
            <p class="text">{{poster.text}}</p>
            <p class="year">{{poster.published_year}}</p>
        </div> 
    {% endfor %}
</div>
{% endblock %}