{% extends "base.html" %}

{% block title %}
Writing and Reading
{% endblock %}

{% block main %}
<div>
    <div class="posts">
        <h2 class="heading">Some things I've written</h2>
        {% if posts %}
            {% for post in posts %}
                <a href="/writing/{{post.slug}}">
                    <div class="post">
                        <label>{{post.published_date}}</label>
                        <h2>{{post.title}}</h2>
                        <p>{{post.formatted_markdown|safe|truncatewords:40}}</p>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>
    <div class="books">
        <h2 class="heading">Some things I've read</h2>
        {% if books %}
            {% for book in books%}
                {% if book.link %}
                <a href="{{book.link}}">
                    <div class="book">
                        <label>{{book.date_added}}</label>
                        <div class="titleandauthor">
                            <h2>{{book.title}}</h2>
                            <label>{{book.author}}</label>
                        </div>
                        {% if book.comment %}
                            <p>{{book.comment}}</p>
                        {% endif %}
                    </div>
                </a>
                {% else %}
                    <div class="book">
                        <label>{{book.date_added}}</label>
                        <div class="titleandauthor">
                            <h2>{{book.title}}</h2>
                            <label>{{book.author}}</label>
                        </div>
                        {% if book.comment %}
                            <p>{{book.comment}}</p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
