<!DOCTYPE html>
{% load staticfiles %}
<html>
   <head>
        <title>harston.io | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link rel="icon" type="image/ico" href="/static/images/favicon.ico">
        <link rel="apple-touch-icon" type="image/png" href="/static/images/512ico.png" sizes="96x96">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    </head>

<body>
    
<section class="hero is-primary is-bold is-small">
    <div class="hero-head">
        <div class="container">
            <h1 class="title">
                <a href="/">
                    <strong>harston.</strong>
                </a>
            </h1>
            <h3 class="subtitle">
                PhD Student at Imperial. ML and Neuroscience. I like making stuff.
            </h3>
        </div>
    </div>
    
    <div class="hero-body">
            <div class="container">
                <ul class="level ">
                    <li class="navbar-item"><a href="/posts"><i class="fas fa-pen-square"></i> Posts</a></li>

                    <li class="navbar-item"><a href="/projects"><i class="fas fa-project-diagram"></i> Projects</a></li>

                    <li class="navbar-item"><a href="/research"><i class="fas fa-flask"></i> Research</a></li>

                    <li class="navbar-item"><a href="/designs"><i class="fas fa-cogs"></i> Designs</a></li>

                    <li class="navbar-item"><a href="/cv"><i class="fas fa-file-alt"></i> CV</a></li>

                    <li class="navbar-item"><a href="https://twitter.com/alexharston" target="_blank"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section">
{% block content %} 
{% endblock %}
</section>

</body>
</html>
