{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}


{%block content%}
<br>

<div class="container">
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-4">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-warning">
                        <p class="title">get in touch</p>
                    <p class="subtitle"><a href="mailto:alex@harston.io">My email</a></p>
                    <p class="subtitle"><a href="https://twitter.com/alexharston"> My Twitter</a></p>
                    <p class="subtitle"><a href="https://github.com/alexharston"> My GitHub</a></p>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    <p class="title">about me</p>
                    <!-- <p class="subtitle"><a href="mailto:j.harston17@imperial.ac.uk">j.harston17@imperial.ac.uk</a></p> -->
                    <p class="content">Hi, I'm Alex. I'm  a second-year PhD student at Imperial College London, in the Brain and Behaviour Lab, and
                        broadly work on machine learning for neuroscience. I previously did Systems Neuroscience
                        in Edinburgh, working on understanding skilled motor control in mice. My research focuses on human
                        intention prediction, using a variety of machine learning methods for multivariate time-series analysis.</p>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-notification">
                <div class="content">
                    <figure class="image">
                        <img src="static/images/alex.jpg"
                    </figure>
                </div>
            </article>
        </div>
    </div>
</div>

{% endblock %}
