{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

    {% if post %}
        {% include "post-snippet.html" %}
    {% else %}
        <p class="content">No posts yet!</p>
    {% endif %}

    {% if project %}
        {% include "project-snippet.html" %}
    {% else %}
        <p class="content">No projects yet!</p>
    {% endif %}

    {% if paper %}
        {% include "research-snippet.html" %}
    {% else %}
        <p class="content">No research yet!</p>
    {% endif %}

    {% if design %}
        {% include "designs-snippet.html" %}
    {% else %}
        <p class="content">No designs yet!</p>
    {% endif %}
   
    {% if design %}
        {% include "designs-snippet.html" %}
    {% else %}
        <p class="content">No designs yet!</p>
    {% endif %}
   

{% endblock %}
