{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}


    {% if post %}
        {% include "post_list.html" %}
    {% else %}
        <p class="content">No posts yet!</p>
    {% endif %}    

    {% if project %}
        {% include "projects.html" %}
    {% else %}
        <p class="content">No projects yet!</p>
    {% endif %}

    {% if papers %}
        {% include "research.html" %}
    {% else %}
        <p class="content">No research yet!</p>
    {% endif %}

    {% if design %}
        {% include "designs.html" %}
    {% else %}
        <p class="content">No designs yet!</p>
    {% endif %}
{% endblock %}
