<nav>
    <h1 class="title"><strong>harston.</strong></h1>
    <h3 class="subtitle">PhD Student at Imperial. ML and Neuroscience.</h3>
    <ul>
        <li><a href="/posts"><i class="fas fa-pen-square"></i> Posts</a></li>
        <li><a href="/projects"><i class="fas fa-project-diagram"></i>Projects</a></li>
        <li><a href="/research"><i class="fas fa-flask"></i> Research</a></li>
        <li><a href="/cv"><i class="fas fa-file-alt"></i> CV</a></li>
        <li><a href="https://twitter.com/alexharston" target="_blank"><i class="fab fa-twitter"></i></a></li>
    </ul>
</nav>